{{define "content"}}
{{$d := .Data}}
<div class="card narrow">
  <h1>{{if $d.Created}}Пользователь создан{{else}}Пароль сброшен{{end}}</h1>
  <p>Передайте сотруднику данные для входа в приложение:</p>
  <dl class="creds">
    <dt>ФИО</dt><dd>{{$d.User.FullName}}</dd>
    <dt>Логин</dt><dd class="mono">{{$d.User.Login}}</dd>
    <dt>Временный пароль</dt><dd class="mono big">{{$d.Password}}</dd>
  </dl>
  <p class="alert info">Пароль показывается только один раз. При первом входе сотрудник должен будет сменить его.</p>
  <div class="row">
    <button class="btn" data-copy="Логин: {{$d.User.Login}}&#10;Пароль: {{$d.Password}}">Скопировать</button>
    <a href="/panel/users/{{$d.User.ID}}" class="btn">К карточке</a>
    <a href="/panel/users" class="btn primary">Готово</a>
  </div>
</div>
{{end}}
